* {
  box-sizing: border-box;
  margin: 0;
}

label {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5rem 0;
  color: rgb(63, 60, 60);
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(189, 189, 189);
  font-size: 1rem;
  font-family: sans-serif;
}

header {
  padding: 1rem 2rem;
}

button {
  background-color: #562b80;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

form,
button,
input,
textarea {
  border-radius: 0.25rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #562b80;
  box-shadow: 0 0 1px 1px #562b80;
}

.header-background {
  background-color: #562b80;
}

.flex-end {
  justify-content: flex-end;
}

.one-two-padding {
  padding: 0 1rem;
}

.one-rem-padding {
  padding: 1rem;
}

.entry-background {
  background-color: #edebed;
  color: #27282b;
}

.title {
  font-size: xx-large;
  color: #27282b;
}

.libre-font {
  font-family: 'Proza Libre', sans-serif;
}

.header {
  color: white;
  font-weight: 400;
}
