* {
  box-sizing: border-box;
  margin: 0;
}

label {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5rem 0;
  color: rgb(63, 60, 60);
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

ul {
  padding-left: 0;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(189, 189, 189);
  font-size: 1rem;
  font-family: sans-serif;
}

header {
  padding: 1rem 0;
}

button {
  border: none;
}

/* button {
  background-color: none;

  /* background-color: #562b80;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem; */

/* } */
form,
input,
textarea {
  border-radius: 0.25rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #562b80;
  box-shadow: 0 0 1px 1px #562b80;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 1rem;
}

a:visited {
  text-decoration: none;
  color: white;
  font-family: 'Proza Libre', sans-serif;
  font-size: medium;
  font-weight: normal;
}

a.delete-entry:visited {
  text-decoration: underline;
  color: red;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  cursor: pointer;
}

.no-entries {
  text-align: center;
}

.header-background {
  background-color: #562b80;
}

.flex-end {
  justify-content: flex-end;
}

.display-flex {
  display: flex;
}

.bottom-padding {
  padding-bottom: 1rem;
}

.bottom-padding-three {
  padding-bottom: 2.5rem;
}

.entry-background {
  background-color: #edebed;
  color: #27282b;
}

.title {
  font-size: xx-large;
  color: #27282b;
}

.libre-font {
  font-family: 'Open Sans', sans-serif;
}

.header {
  color: white;
  font-weight: 400;
}

.space-between {
  justify-content: space-between;
}

.top-padding {
  padding: 1.5rem 0 1.5rem;
}

.top-padding-one {
  padding-top: 1rem;
}

.edit-icon {
  color: #562b80;
}

.button {
  background-color: #562b80;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.delete-entry {
  text-decoration: underline;
  color: red;
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dialogue {
  background-color: white;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  width: 46vh;
  font-weight: 600;
  border-radius: 0.25rem;
  position: fixed;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm {
  background-color: #dc332e;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.25rem;
}

.cancel {
  background-color: #b6b6b6;
  color: #2a2a2a;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
